body {
    margin: 0;
}
canvas {
    position: absolute;
}
#tools {
    position: absolute;
    top: 5vh;
    width: 3vw;
    height: 95vh;
    background-color: rgb(18, 18, 18);
}
#background {
    z-index: 0;
}
#selection {
    border: 1px solid black;
}
.tool {
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    width: 2vw;
    height: 2vw;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 0.3vw;
}