body {
    margin: 0;
}
canvas {
    position: absolute;
}
#background {
    z-index: 0;
}
#selection {
    border: 1px solid black;
}
.tool {
    width: 50px;
    height: 20px;
    background-color: red;
    display: inline-block;
}