@keyframes grow {
    15% {transform: scale(1.3, 1.3);}
    30% {transform: scale(1, 1);}
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
#content {
    transform: opacity 1s;
}
#load {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    transition: opacity 1s;
    z-index: 100;
}
#load > div {
    width: 25vw;
    height: 3vw;
    position: relative;
    left: 35vw;
    top: 48.5vh;
    display: flex;
    justify-content: space-between;
    animation: appear 3s;
}
#load > div div {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    animation-name: grow;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
#load > div div:nth-child(1) {
    background-color: #8dff53;
}
#load > div div:nth-child(2) {
    background-color: #20e7e8;
    animation-delay: 100ms;
}
#load > div div:nth-child(3) {
    background-color: #5a2fff;
    animation-delay: 200ms;
}
#load > div div:nth-child(4) {
    background-color: #e82b4f;
    animation-delay: 300ms;
}
#load > div div:nth-child(5) {
    background-color: #ffb64a;
    animation-delay: 400ms;
}