@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    user-select: none;
}

#wrapper {
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 20vh;
    left: 35vw;
    border-radius: 2vmin;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    user-select: none;
    background-color: white;
}

#logInForm, #createAccountForm {
    height: 60vh;
    width: 30vw;
    position: relative;
    padding: 0 5vw;
    box-sizing: border-box;
    background-color: white;
    border-radius: 2vmin;
    display: inline-block;
    transition: left 200ms;
}

.button {
    width: 8vmin;
    height: 4vmin;
    position: relative;
    left: 0;
    top: 51vh;
    font-size: 2vmin;
    color: white;
    border-radius: 0.7vmin;
    background-color: rgb(81, 81, 255);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
    transition: background-color 400ms;
}

.button:hover {
    background-color: rgb(52, 52, 255);
    cursor: pointer;
}

.button:focus {
    background-color: rgb(52, 52, 255);
    outline: none;
}

.switchTo {
    color: rgb(0, 0, 255);
    font-size: 1.9vmin;
    position: relative;
    left: 0;
    top: 51vh;
}

.switchTo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.switchTo:focus {
    text-decoration: underline;
    outline: none;
}

input {
    width: 20vw;
    display: block;
    height: 3vmin;
    outline: none;
    border: none;
    font-size: 2vmin;
}

.password {
    display: inline-block;
}

.inputBorder {
    width: 20vw;
    height: 1px;
    transition: background-color 200ms;
}

.text {
    height: 3vmin;
    position: relative;
    left: 0;
    top: 1.5vmin;
    box-sizing: border-box;
    pointer-events: none;
    user-select: none;
    transition: font-size 200ms, padding-top 200ms, color 200ms;
}

.passwordVisibility {
    position: relative;
    left: 0;
    top: 0.5vmin;
}

.passwordVisibility:hover {
    cursor: pointer;
}

#createAccountError, #logInError {
    color: red;
    font-size: 2vmin;
    user-select: text;
    transition: opacity 500ms;
}

form {
    margin-bottom: 2vh;
}

#checkbox {
    margin-top: 2.5vh;
}

#checkbox:hover {
    cursor: pointer;
}

#checkbox i {
    margin-right: 1vmin;
    transition: color 200ms;
}

#checkbox i:focus {
    outline: none;
}

#checkbox span, #checkbox i {
    font-size: 2vmin;
}

#checkbox span {
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 4vmin;
    margin: 1vh 0;
}

#load {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: black;
    transition: opacity 500ms;
}

.spinner {
    height: 1.6vmin;
    width: 1.6vmin;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-top-color: rgba(255, 255, 255, 1);
    animation: spin 1.5s linear infinite;
}

#close {
    position: absolute;
    top: 1vmax;
    right: 1vmax;
    color: black;
    z-index: 2;
}

#close:hover {
    cursor: pointer;
}