body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#wrapper {
    height: 60vh;
    width: 30vw;
    position: relative;
    top: 20vh;
    left: 35vw;
    border-radius: 2vmin;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: white;
    box-sizing: border-box;
}

#logInForm, #createAccountForm {
    height: 60vh;
    width: 30vw;
    position: relative;
    padding: 4vh 5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    border-radius: 2vmin;
    display: inline-block;
    -webkit-transition: left 200ms;
    -o-transition: left 200ms;
    transition: left 200ms;
}

.bottom {
    position: absolute;
    bottom: 4vh;
    left: 5vw;
}

.button {
    width: 8vmin;
    height: 4vmin;
    font-size: 2vmin;
    color: white;
    border-radius: 0.7vmin;
    background-color: rgb(81, 81, 255);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0.5vw;
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
}

.button:hover {
    background-color: rgb(52, 52, 255);
    cursor: pointer;
}

.button:focus {
    background-color: rgb(52, 52, 255);
    outline: none;
}

.switchTo {
    color: rgb(0, 0, 255);
    font-size: 2vmin;
}

.switchTo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.switchTo:focus {
    text-decoration: underline;
    outline: none;
}

input {
    width: 20vw;
    display: block;
    height: 3vmin;
    outline: none;
    border: none;
    font-size: 2vmin;
}

.password {
    width: 17.5vw;
    display: inline-block;
}

.inputBorder {
    width: 20vw;
    height: 1px;
    -webkit-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}

.text {
    height: 3vmin;
    position: relative;
    left: 0;
    top: 1.5vmin;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: font-size 200ms, padding-top 200ms, color 200ms;
    -o-transition: font-size 200ms, padding-top 200ms, color 200ms;
    transition: font-size 200ms, padding-top 200ms, color 200ms;
}

.passwordVisibility {
    position: relative;
    left: 0;
    top: 0.5vmin;
    float: right;
}

.passwordVisibility:hover {
    cursor: pointer;
}

#createAccountError, #logInError {
    color: red;
    font-size: 2vmin;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

form {
    margin-bottom: 2vh;
}

#checkbox {
    margin-top: 2.5vh;
}

#checkbox:hover {
    cursor: pointer;
}

#checkbox i {
    margin-right: 1vmin;
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

#checkbox i:focus {
    outline: none;
}

#checkbox span, #checkbox i {
    font-size: 2vmin;
}

#checkbox span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

h1 {
    text-align: center;
    font-size: 4vmin;
    margin: 0 0 1.5vmin 0;
}

#close {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    color: black;
    z-index: 2;
}

#close:hover {
    cursor: pointer;
}