body {
    margin: 0;
    background-color: #454545;
}

canvas {
    position: absolute;
}

#tools {
    width: 3vw;
    height: 95vh;
    position: absolute;
    top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#top {
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#right {
    width: 15vw;
    height: 95vh;
    position: absolute;
    top: 5vh;
    right: 0;
}

#background {
    z-index: 0;
}

.tool {
    width: 2.5vw;
    height: 2.5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.1vmin solid black;
    border-radius: 0.5vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tool:hover {
    cursor: pointer;
}

.tool img {
    height: 1.5vw;
}

form {
    margin-left: 7vw;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
}

#filename {
    margin-left: 1vw;
}

#back {
    margin: 0;
    height: 5vh;
    width: 3vw;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#back:hover {
    cursor: pointer;
}

#back i {
    font-size: 3vmin;
}

#load {
    z-index: 10000;
}