body {
    margin: 0;
    background-color: #454545;
}

canvas {
    position: absolute;
}

#tools {
    width: 3vw;
    height: 95vh;
    position: absolute;
    top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#top {
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#right {
    width: 15vw;
    height: 95vh;
    position: absolute;
    top: 5vh;
    right: 0;
}

#background {
    z-index: 0;
}

.tool {
    width: 2.5vw;
    height: 2.5vw;
    box-sizing: border-box;
    border: 0.1vmin solid black;
    border-radius: 0.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool:hover {
    cursor: pointer;
}

.tool img {
    height: 1.5vw;
}

#load {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    pointer-events: none;
    transition: opacity 500ms;
}

form {
    margin-left: 7vw;
    height: 5vh;
    display: flex;
    align-items: center;
    display: inline-block;
}

#filename {
    margin-left: 1vw;
}

#back {
    margin: 0;
    height: 5vh;
    width: 3vw;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#back:hover {
    cursor: pointer;
}

#back i {
    font-size: 3vmin;
}