body {
    margin: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

button, img {
    position: absolute;
    bottom: 5vh;
    z-index: 2;
}

#load {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transition: opacity 500ms;
}

#down {
    width: 5vw;
    height: 5vw;
    bottom: 2vh;
    left: 47.5vw;
}

#content {
    height: 100vh;
    width: 100vw;
}