body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#backgroundImg {
    filter: brightness(20%);
}

#edit {
    position: absolute;
    bottom: 5vh;
    z-index: 2;
}

#scroll {
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 47.5vw;
    bottom: 1vh;
}

#scroll:hover {
    cursor: pointer;
}

#load {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: black;
    transition: opacity 500ms;
}

#down {
    width: 5vw;
    height: 5vw;
    bottom: 2vh;
    left: 47.5vw;
}

#content {
    height: 100vh;
    width: 100vw;
}

h1 {
    text-transform: uppercase;
    margin-top: 0;
}

#content button {
    display: inline-block;
}

#content img {
    width: 30vw;
    display: inline-block;
}

#content div div {
    width: 20vw;
    height: 20vw;
    margin-left: 9vw;
    display: inline-block;
}

#content div div p {
    text-align: justify;
}

#content > div {
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 10vh 20vw;
}

#content div:first-child {
    background-color: gray;
}

#content div div:first-child {
    background-color: white;
}

#popup {
    height: 60vh;
    width: 30vw;
    position: fixed;
    left: 35vw;
    border-radius: 2vmin;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: white;
    transition: top 100ms;
}

#openLogInPopup, #openAccountPopup {
    height: 4vmax;
    width: 8vmax;
    background-color: white;
}

#openAccountPopup {
    position: absolute;
    right: 4vmax;
    top: 4vmax;
    transition: width 500ms, height 500ms;
}

#text {
    height: 4vmax;
    width: 8vmax;
}

#logInPopup, #createAccountPopup {
    height: 60vh;
    width: 30vw;
    position: relative;
    padding: 0 5vw;
    box-sizing: border-box;
    background-color: white;
    border: inherit;
    display: inline-block;
    transition: left 200ms;
}

#logInPopup .button, #createAccountPopup .button {
    width: 7vmin;
    height: 3vmin;
    position: relative;
    left: 0;
    top: 51vh;
    font-size: 2vmin;
    text-align: center;
    color: white;
    border-radius: 0.7vmin;
    background-color: rgb(81, 81, 255);
    display: inline-block;
    margin-right: 0.5vw;
    transition: background-color 400ms;
}

#logInPopup .button:hover, #createAccountPopup .button:hover {
    background-color: rgb(52, 52, 255);
}

.switchTo {
    color: rgb(0, 0, 255);
    font-size: 1.9vmin;
    position: relative;
    left: 0;
    top: 51vh;
}

.switchTo:hover {
    cursor: pointer;
}

input {
    width: 20vw;
    display: block;
    height: 3vmin;
    outline: none;
    border: none;
    font-size: 2vmin;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.password {
    display: inline-block;
}

.inputBorder {
    width: 20vw;
    height: 1px;
    transition: background-color 200ms;
}

.text {
    height: 3vmin;
    position: relative;
    left: 0;
    top: 1.5vmin;
    box-sizing: border-box;
    pointer-events: none;
    user-select: none;
    transition: font-size 200ms, padding-top 200ms, color 200ms;
}

#close {
    background-color: white;
}

#close:hover {
    cursor: pointer;
    background-color: lightgray;
}

#close i {
    font-size: 2.5vmin;
    margin-right: 1vmax;
    margin-top: 1vmax;
    position: relative;
    top: -120vh;
    left: 0;
    float: right;
}

.passwordVisibility {
    position: relative;
    left: 0;
    top: 0.8vmin;
}

.passwordVisibility:hover {
    cursor: pointer;
}

i {
    user-select: none;
}

h2 {
    text-align: center;
    font-size: 4vmin;
    margin: 1vh 0;
}

.button {
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

#particles-js {
    background-color: rgb(3, 0, 19);
}

#createAccountError, #logInError {
    color: red;
    font-size: 2vmin;
    transition: opacity 200ms;
}

form {
    margin-bottom: 2vh;
}

#checkbox {
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

#checkbox div {
    width: 2vmin;
    height: 2vmin;
    border: rgb(143, 143, 143) solid 1px;
    border-radius: 15%;
}

#checkbox i {
    margin-right: 1vmin;
}

#checkbox i:hover {
    cursor: pointer;
}

#checkbox span, #checkbox i {
    font-size: 2vmin;
}

#upload {
    background-color: white;
    position: absolute;
    top: 60vh;
    left: 50vw;
}