body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#backgroundImg {
    filter: brightness(20%);
}

#edit {
    position: absolute;
    bottom: 5vh;
    z-index: 2;
}

#scroll {
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 47.5vw;
    bottom: 1vh;
    z-index: 2;
}

#scroll:hover {
    cursor: pointer;
}

#load {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transition: opacity 500ms;
}

#down {
    width: 5vw;
    height: 5vw;
    bottom: 2vh;
    left: 47.5vw;
}

#content {
    height: 100vh;
    width: 100vw;
}

h1 {
    text-transform: uppercase;
    margin-top: 0;
}

#content button {
    display: inline-block;
}

#content img {
    width: 30vw;
    display: inline-block;
}

#content div div {
    width: 20vw;
    height: 20vw;
    margin-left: 9vw;
    display: inline-block;
}

#content div div p {
    text-align: justify;
}

#content > div {
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 10vh 20vw;
}

#content div:first-child {
    background-color: gray;
}

#content div div:first-child {
    background-color: white;
}