@-webkit-keyframes move {
    0% { bottom: 1vh; }
    50% { bottom: 4vh; }
    100% { bottom: 1vh; }
}

@keyframes move {
    0% { bottom: 1vh; }
    50% { bottom: 4vh; }
    100% { bottom: 1vh; }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#headings {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1, h2 {
    color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h1 {
    margin: 0 0 2vmin 0;
    font-size: 18vmin;
}

h2 {
    margin: 0 0 20vmin 0;
    font-size: 4vmin;
}

#edit {
    width: 30vmin;
    height: 10vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0.22vmin solid white;
    border-radius: 8vmin;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3vmin;
    font-weight: bold;
    color: white;
    -webkit-transition: color 700ms, background-color 700ms;
    -o-transition: color 700ms, background-color 700ms;
    transition: color 700ms, background-color 700ms;
}

#edit:hover {
    background-color: white;
    color: rgb(3, 0, 10);
}

#scroll {
    text-decoration: none;
    font-size: 7vmin;
    position: absolute;
    cursor: pointer;
    color: white;
    -webkit-animation: move 1.5s ease infinite;
            animation: move 1.5s ease infinite;
}

#scroll:focus {
    outline: none;
}

#links {
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h3 {
    font-size: 2.5vmin;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 0.5vmin;
}

#links .button {
    width: 14.5vmin;
    height: 4vmin;
    border-radius: 4vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #6d6d6d;
    margin-top: 3vh;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}

#links .button:hover {
    background-color: #555555;
}

#links .button span {
    font-size: 1.7vmin;
    color: white;
}

#links .button span i {
    position: relative;
    left: 0.3vmin;
    top: 0;
    -webkit-transition: left 500ms;
    -o-transition: left 500ms;
    transition: left 500ms;
}

#links .button:hover span i {
    left: 1vmin;
}

#links img {
    width: 40vmin;
    display: inline-block;
    border: 0.1vmin solid black;
}

.content {
    width: 20vw;
    display: inline-block;
}

.content p {
    font-size: 1.7vmin;
    text-align: justify;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    margin-left: 1vmin
}

.margin {
    width: 6vw;
    height: 50vh;
    display: inline-block;
}

#links > div {
    width: 100vw;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#first, #first div {
    background-color: #dbdbdb;
}

#second, #second div {
    background-color: #ffffff;
}

#logIn, #placeholder {
    width: 10vmin;
    height: 4.8vmin;
    position: absolute;
    right: 3vmin;
    top: 3vmin;
    border: 0.2vmin solid white;
    border-radius: 3vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
}

#logInText, #openInfoText {
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

#logIn, #openInfo {
    font-size: 2vmin;
    -webkit-transition: background-color 500ms, color 500ms;
    -o-transition: background-color 500ms, color 500ms;
    transition: background-color 500ms, color 500ms;
}

#logIn:hover {
    background-color: white;
    color: rgb(3, 0, 10);
}

#openInfo {
    height: 4.8vmin;
    border-bottom: 0.2vmin solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
}

#accountInfo {
    position: absolute;
    right: 3vmin;
    top: 3vmin;
    border: 0.2vmin solid white;
    border-radius: 3vmin;
    overflow: hidden;
    color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: width 500ms, height 500ms;
    -o-transition: width 500ms, height 500ms;
    transition: width 500ms, height 500ms;
}

#info {
    margin: 1vmin 1.3vmin;
    height: 9.2vmin;
    width: 12.4vmin;
}

h4 {
    font-size: 2.3vmin;
    margin: 0 0 1.3vmin 0;
}

#info span {
    display: block;
    margin-top: 0.3vmin;
    font-size: 1.6vmin;
    cursor: pointer;
}

#info span:hover {
    text-decoration: underline;
}

i {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}

#particles-js {
    background-color: rgb(2, 0, 10);
    overflow: hidden;
}

#username {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    width: 13vmin;
    overflow: hidden;
}