body {
    margin: 0;
    padding-top: 10vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    margin: 0;
    font-size: 3.5vmin;
    display: inline;
}

#heading {
    height: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#back i {
    font-size: 3vmin;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

#back {
    width: 3vw;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2vmin;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    cursor: pointer;
}

#back:hover i {
    color: white;
}

#back:hover {
    background-color: black;
}

header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h2 {
    text-align: center;
    font-size: 3vmin;
}

form {
    width: 70vw;
    border-radius: 2vmin;
    border: 1px solid #d8d8d8;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 5vmin auto;
}

form::after {
    content: "";
    clear: both;
    display: table;
}

.inputs {
    width: 40vw;
    margin: auto;
}

input {
    width: 40vw;
    display: block;
    height: 3vmin;
    outline: none;
    border: none;
    font-size: 2vmin;
}

.inputBorder {
    width: 40vw;
    height: 1px;
    -webkit-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}

.text {
    height: 3vmin;
    position: relative;
    left: 0;
    top: 1.5vmin;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: font-size 200ms, padding-top 200ms, color 200ms;
    -o-transition: font-size 200ms, padding-top 200ms, color 200ms;
    transition: font-size 200ms, padding-top 200ms, color 200ms;
}

.passwordVisibility {
    position: relative;
    left: 0;
    top: 0.5vmin;
    float: right;
    cursor: pointer;
}

.password {
    width: 37.5vw;
    display: inline-block;
}

.button {
    width: 8vmin;
    height: 3.5vmin;
    float: right;
    margin-bottom: 3vmin;
    font-size: 2vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(81, 81, 255);
    color: white;
    border-radius: 0.7vmin;
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(52, 52, 255);
}

.button:focus {
    background-color: rgb(52, 52, 255);
    outline: none;
}

#changePasswordError, #changeUsernameError, #deleteAccountError {
    margin-top: 2vmin;
    width: 40vw;
    height: 5vmin;
    color: red;
    font-size: 2vmin;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

#popup {
    width: 25vw;
    height: 7vh;
    position: fixed;
    left: 37.5vw;
    background-color: #9b9b9b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: bottom 200ms;
    -o-transition: bottom 200ms;
    transition: bottom 200ms;
}

#noAccount {
    width: 100vw;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#logIn {
    width: 10vmin;
    height: 4.8vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1vmin;
    color: white;
    background-color: rgb(81, 81, 255);
    font-size: 2.5vmin;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
    cursor: pointer;
}

#logIn:hover {
    background-color: rgb(52, 52, 255);
}

h3 {
    font-size: 6vmin;
    margin-top: 0;
}

#load {
    z-index: 1;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(56, 56, 56, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(56, 56, 56);
}