body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    margin: 0;
    font-size: 3.5vmin;
    display: inline;
}

#heading {
    height: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#back i {
    font-size: 3vmin;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

#back {
    width: 3vw;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 0.1vmin solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2vmin;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    cursor: pointer;
}

#back:hover {
    background-color: black;
}

#back:hover i {
    color: white;
}

header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 0.1vmin solid black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#photos {
    width: 100vw;
    position: absolute;
    top: 10vh;
    left: 0;
}

.photo {
    width: 10vmin;
    margin: 2vmin;
    display: inline-block;
    transition: opacity 100ms, transform 150ms;
}

.file {
    width: 10vmin;
    height: 10vmin;
    border-radius: 0.5vmin;
    background-color: rgb(204, 204, 204);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 5vmin;
}

.filename {
    width: 10vmin;
    font-size: 2vmin;
    padding: 0.5vmin;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}

.button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}

#popup {
    width: 100vw;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#logIn {
    width: 10vmin;
    height: 4.8vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1vmin;
    color: white;
    background-color: rgb(81, 81, 255);
    font-size: 2.5vmin;
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
}

#logIn:hover {
    background-color: rgb(52, 52, 255);
}

h2 {
    font-size: 6vmin;
    margin-top: 0;
}

#load {
    z-index: 1;
}

#options {
    position: absolute;
    background-color: gray;
}