body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    margin: 0;
    font-size: 3.5vmin;
    display: inline;
}

#heading {
    height: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#back i {
    font-size: 3vmin;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

#back {
    width: 3vw;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 0.1vmin solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2vmin;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    cursor: pointer;
}

#back:hover {
    background-color: black;
}

#back:hover i {
    color: white;
}

header {
    width: 100vw;
    height: 10vh;
    border-bottom: 0.1vmin solid black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#photos {
    width: auto;
    height: 90vh;
    margin: auto;
    overflow-y: scroll;
    transition: opacity 200ms;
}

.photo {
    width: 10vmin;
    margin: 2vmin;
    display: inline-block;
    transition: opacity 100ms, transform 150ms;
}

.file {
    width: 10vmin;
    height: 10vmin;
    border-radius: 0.5vmin;
    background-color: rgb(204, 204, 204);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 5vmin;
}

.filename {
    width: 10vmin;
    font-size: 2vmin;
    padding: 0.5vmin;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}

.button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}

#noAccount, #loader {
    width: 100vw;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: opacity 200ms;
}

.loader {
    width: 20vmin;
}

.loader div {
    width: 3vmin;
    height: 3vmin;
    background-color: rgb(189, 189, 189);
}

#logIn {
    width: 10vmin;
    height: 4.8vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1vmin;
    color: white;
    background-color: rgb(81, 81, 255);
    font-size: 2.5vmin;
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
}

#logIn:hover {
    background-color: rgb(52, 52, 255);
}

#logIn h2 {
    font-size: 6vmin;
    margin-top: 0;
}

#contextmenu {
    width: 15vmin;
    box-sizing: border-box;
    position: absolute;
    border: 0.1vmin solid #d8d8d8;
    border-radius: 0.5vmin;
    background-color: white;
    overflow: hidden;
    font-size: 2vmin;
    user-select: none;
    transition: height 100ms;
}

#contextmenu div {
    height: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms;
}

#contextmenu div:hover {
    background-color: #ebebeb;
}

#noPhotos {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#noPhotos h2 {
    font-size: 4vmin;
    margin: 0;
    color: rgb(189, 189, 189);
}